body{
  background-color: blue;
}

/* layout styles  */
.carousel-container {
    width: 850px;
    height: 66vh;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    background-color: white;
}
.slide {
    position: relative;
    top: 1vh;
    height: 64vh;
    border: 1px solid black;
    display: none;
}

.slide.visible {
    position: relative;
    top: 1vh;
    height: 64vh;
    border: 1px solid black;
    display: block;
}

img {
    display: block;
    position: relative;
    width: 618px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation styles */

#nav-dots {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(33px, 1fr));
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    height: 9vh;
    width: 40vw;
    background-color: #04fb1259;
}
.dot {
    height: 15px;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    background: #02fb0c;
    border-radius: 20px;
}
